.logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}

/* Applies to the text in the top left of the page */
.topleft {
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: black;
    padding-top: 10px;
}   

.topleft:hover {
    cursor: pointer;
    text-decoration: underline;
}

.topright {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
    float: right;
    text-align: right;
    width: auto;
    padding: 5px;
    padding-top: 10px;
    height: 25px;
    top: 0px;
    color: black;
}

.topright:hover {
    cursor: pointer;
    text-decoration: underline;
}

.more {
    padding-left: 20px;
    padding-right: 20px;
}

.signin {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
    float: right;
    text-align: right;
    width: auto;
    padding: 10px 25px 4px 25px;
    height: 25px;
    border-radius: 5px;
    top: 0px;
    color: white;
    background-color: #1a73e8;
}

.signin:hover {
    cursor: pointer;
}

/* This code applies to the search bar below the logo on the page */
.searchbar {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 24px;
    box-shadow: none;
    outline: none;
}

.searchbar input {
    height: 40px;
    width: 550px;
    font-family: Verdana;
    font-size: 14px;
    border: 0.5px solid lightgray;
}

.searchbar:hover {
    box-shadow: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.mag_glass {
    width: 16px;
    height: 16px;
    z-index: 1;
    position: relative;
    bottom: 34px;
    left: 14px;
    opacity: 0.5;
}

.mic {
    width: 13px;
    height: 20px;
    z-index: 1;
    position: relative;
    bottom: 32px;
    left: 500px;
}

.google_search {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
    text-align: center;
    width: auto;
    padding: 25x;
    border-radius: 4px;
    height: 25px;
    margin-top: 20px;
    color: black;
    background-color: rgba(0, 0, 0, .1)
}


/* This code will affect the bottom elements on the page */



.botleft {
    font-family: Arial, sans-serif;
    float: left;
    font-size: 14px;
    color: black;
    margin-top: 520px;
    bottom: 0px;
    padding: 15px;
    background-color: rgb(235, 235, 235);
}


.botmid{
    font-family: Arial, sans-serif;
    float: left;
    position: absolute;
    font-size: 14px;
    margin: 0px;
    color: black;
    margin-top: 520px;
    top: 489px;
    padding: 14px;
    padding-left: 510px;
    padding-right: 560px;
    background-color: rgb(235, 235, 235);
}

.botright {
    font-family: Arial, sanss-serif;
    float: right;
    font-size: 14px;
    margin: 0px;
    color: black;
    margin-top: 520px;
    bottom: 0px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(235, 235, 235);
}
